<footer class="footer"><div class="footer-container"><div class="full-white-logo"><!--!--><a href="/" class="active"><!--!--><span class="white-logo-text">Меню</span></a></div><!--!-->

        <div class="footer-block"><!--!--><div class="footer-column column-spacing"><p><a href="" class="footer-row">Аквапечать </a></p>
                <p><a href="" class="footer-row">Каталог тюнинга </a></p>
                <p><a href="" class="footer-row">Оплата и доставка</a></p>
                <p><a href="" class="footer-row">О компании</a></p>
                <p><a href="" class="footer-row">Контакты</a></p></div>

            <div class="footer-column  column-spacing"><p><!--!--><a href="" class="footer-row">Новости</a></p><!--!-->
                <p><!--!--><a href="" class="footer-row">Производители</a></p></div><!--!-->

            <div class="footer-column"><p><!--!--><a href="" class="footer-row">Акции</a></p></div></div></div></footer>