<nav class="blue darken-4">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="" title="Оплата и доставка"> Оплата и доставка </a></li>
        <li><a href="" title="О компании"> О компании </a></li>
        <li><a href="" title="Дропшиппинг и опт"> Дропшиппинг и опт </a></li>
        <li><a href="" title="Договор оферты"> Договор оферты </a></li>
        <li><a href="" title="Контакты"> Контакты </a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/">Home</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/admin">Admin</a></li>
       
      </ul>
      
    </div>


  </nav>

  