<nav class="blue darken-4">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="oplata-i-dostavka.html" title="Оплата и доставка"> Оплата и доставка </a></li>
        <li><a href="o-kompanii.html" title="О компании"> О компании </a></li>
        <li><a href="opt.html" title="Дропшиппинг и опт"> Дропшиппинг и опт </a></li>
        <li><a href="dogovor-oferty.html" title="Договор оферты"> Договор оферты </a></li>
        <li><a href="kontaktyi.html" title="Контакты"> Контакты </a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/">Home</a></li>
       <li><a href="/Login">Login</a></li>
       <li><a href="/Admin">Admin</a></li>
      </ul>
      
    </div>


  </nav>

  