<div class="container">
<form action="/createProd" method="post"> 

<div class="input-field"> 
    <input type="text"name="Name" placeholder="product name">
    <input type="number"name="Price" placeholder="product price">
    <input type="text"name="Manufakturer" placeholder="product Manufakturer">
    <input type="text"name="Country" placeholder="product country">
    <input type="text"name="Image" placeholder="product image">
    <input type="number"name="Rating" placeholder="product Rating">
    <input type="text"name="Tuning" placeholder="product Tuning">
</div>

<button type="submit"class="btn">Create </button>
</form>



<h2>admin Page</h2>
</div>