<div class="container">
<form action="/registUser" method="post"> 
<div class="input-field">
<input type="text"name="login" placeholder="Login">
<input type="password"name="password" placeholder="Password">

<button type="submit"class="btn">Regist </button>
<div>Already have an account? <a href="/login">Login into your account</a> </div>
</form>
</div>

