.left_menu{
    display:block;
    
}

.nigger{
    font-size: 20px;
    font-weight: 400;
    color:#2F67DE;
    
}
.jews{
    width: 50px;
    height: 50px;
    background-color:azure;
}


.header__nav {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav_horizontal, .nav_justify {
    
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.footer {
    display: flex;
    padding: 0;
    height: 775px;
    padding-left: 0;
    padding-right: 0;
    line-height: 44px;
    background-color: #101010;
    justify-content: space-between;
}

.full-white-logo {
    margin: 0;
    display: inline-block;
}

.footer-container {
    justify-content: center;
    margin: auto;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding: 0
}

.white-logo-text {
    display: inline;
    font-family: 'Circe-R';
    padding: 20px 0 0 22px;
    font-weight: bold;
    color: white;
    font-size: 60px;
    letter-spacing: 0.02em;
    position: relative;
    top: 15px;
}

.footer-block {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.footer-column {
    display: inline-block;
    position: relative;
    margin-right: 90px;
    margin-top: 0px;
}

.header {
    background: #142021;
    padding: 5px 0;
    color: #979797;
    position: fixed;
    width: 100%;
    z-index: 13;
    left: 0;
    top: 0;
    position: fixed;
}

.topitem
{
    position: static;
    background: #f24333;
    padding: 40px 0;
    width: 100%;
    left: 0;
    bottom: 50px;
    
}


.product-item {
    width: 300px;
    height: 600px;
    text-align: center;
    border-bottom: 2px solid #F5F5F5;
    background: #E5ADFF;
    font-family: Consolas;
    transition: .3s ease-in;
    width: 24%;
    margin-right: 15px;
    margin-bottom: 15px;
}


.product-item:hover {
    border-bottom: 2px solid #00C66A;
}


.product-item img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    vertical-align: middle;
    box-sizing: border-box;
}

.product-list {
    background: #fafafa;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
}
.hui{
    font-size: 20px;
    font-weight: 400;
    color: #101010;
    font-family: consolas;
    text-align: left;
}
.price {
    font-size: 16px;
    color: #004F5B;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: red;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    border-radius: 10px;
}

.product-item:hover .button {
    background: #2F67DE;
}

.main_products_cards {
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

}